{% extends "layout.html" %}

{% block content %}
<div class="w3-content w3-center">
  <div class="w3-margin">
    <div class="w3-container">
        <h1>
            Weather at {{ weather_data.location.name }}:
        </h1>
        <div class="w3-panel w3-card">
            <p>
                Current average temperature in {{ weather_data.location.name }} is
                {{ weather_data.temperature.current }}{{ weather_data.temperature.unit }},
                with a minimum of {{ weather_data.temperature.min }}{{ weather_data.temperature.unit }} and
                a maximum of {{ weather_data.temperature.max }}{{ weather_data.temperature.unit }} somewhere.
            </p>
            <p>
                Wind: {{ weather_data.wind.speed }} m/s
            </p>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
